<div class="registration-type-selector">
    <i class='type-selector-warning'>Only available with OSF Registries</i>
    <ul class="m-t-sm">
        {{#if fetchData.isIdle}}
            {{#each registrationTypes as |item|}}
                <li>
                    <label>
                        <input class='type-checkbox' type="checkbox" disabled={{setVisibilityOfOSFFilters}} checked="{{if (if-filter item state.value) 'checked'}}" onclick={{action updateFilters 'type' item}}>
                        {{item}}
                    </label>
                </li>
            {{/each}}
        {{/if}}
    </ul>
</div>
